*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin: 25px 23px;
    padding: 3px;
}
.container{
    background-color: rgb(8, 255, 234);
    padding: 5px 20px 15px 20px;
    border: 2px solid rgb(10, 166, 214);
    border-radius: 6px;
}

input[type="text"],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'],
select,
textarea{
    width: 100%;
   padding: 12px;
   border: 2px solid #ccc;
   border-radius: 5px;
   margin: 10px;
}

fieldset{
    background-color: #fff;
    border: 2px solid rgb(177, 174, 174);
}

.main_heading {
    text-align: center;

}


input[type='submit']{
    background-color: tomato;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor:pointer;
    width: 47%;
}
input[type='reset']{
    background-color: rgb(255, 169, 71);
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    border: 1px solid rgb(221, 91, 134);
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor:pointer;
    width: 52.6%;
    
}

input[type='submit']:hover{
    background-color: rgb(251, 62, 62);
}

input[type='reset']:hover{
    background-color: rgb(248, 149, 51);
}
